* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
}
/*MAPAS*/
.grid-container {
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/images/imgfondo.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto 1fr auto;
}

.grid-container header {
  grid-column: 1/4;
  grid-row: 1/2;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  font-size: 1rem;
}

.nav-item:hover {
  transform: scale(1.1);
  transform-origin: left;
  transition: 0.5s;
  cursor: pointer;
}

.nav-link:hover {
  color: blue !important;
}

.button {
  background: white;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
}

.button:hover {
  transform: scale(1.2);
  transition: 0.3s;
  cursor: pointer;
}

.banner {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-right: auto;
  margin-left: auto;
}
.banner img {
  width: 50vw;
}

/*MAIN*/
.contenedorCentral {
  grid-column: 1/4;
  grid-row: 3/5;
  width: 95%;
  margin: 0 auto;
  padding: 5px 5px;
}

.contenedorCentral h1 {
  text-align: center;
  text-decoration: underline;
}

.contenedorCentral__hijo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cajas {
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.contenedorCentral__hijo div img {
  height: 300px;
  width: auto;
}

/*FOOTER*/
footer {
  width: 100%;
  margin: 0 auto;
  padding: 5px 5px;
  background-color: antiquewhite;
  grid-column: 1/4;
  grid-row: 5/6;
}

/*PRODUCTOS*/
.subtituloNinas {
  text-align: center;
  color: purple;
  width: 100%;
  font-weight: 800;
  padding-top: 0;
}

.subtituloNinos {
  text-align: center;
  color: blue;
  width: 100%;
  font-weight: 800;
  padding-top: 50px;
}

.card {
  margin: 10px;
  background-color: blanchedalmond;
}

.card-img-top {
  transition: transform 0.5s;
  border-radius: 30px;
  padding: 20px;
}

.card-img-top:hover {
  transform: scale(1.4);
}

.card-body {
  text-align: center;
}

.card-body p:nth-child(4) {
  font-weight: 900;
}

/*COLECCIONES ESPECIALES*/
.contenedorColecciones {
  grid-column: 1/4;
  grid-row: 2/5;
  width: 30%;
  margin: auto auto;
  padding: 5px 5px;
}

#carouselExampleCaptions1 {
  margin-bottom: 50px;
}

#carouselExampleCaptions2 {
  margin-bottom: 50px;
}

.carousel-item h5, .carousel-item p {
  color: black;
  font-weight: 800;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

/*SOBRE NOSOTROS*/
.subtituloNosotros {
  text-align: center;
  color: rgb(175, 23, 168);
  width: 100%;
}

.cajas1, .cajas2 {
  margin: 10px;
  text-align: left;
  display: inline-block;
}

.cajas1 img, .cajas2 img {
  float: right;
  padding: 10px;
}

.cajas2 img {
  float: left;
  padding: 10px;
  width: 300px;
  height: 400px;
}

/*CONTACTO*/
.contenedorContacto {
  grid-column: 1/4;
  grid-row: 2/5;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.contenedorContacto__hijo1 {
  width: 100%;
  margin: 0 auto;
}
.contenedorContacto__hijo1 h2 {
  text-align: center;
  text-transform: uppercase;
}
.contenedorContacto__hijo1 p {
  text-align: center;
  margin: 0 5px;
  padding: 0 5px;
}
.contenedorContacto__hijo1 form {
  padding: 10px 0 10px 35%;
}

.formulario {
  width: 100%;
  padding: 10px 0;
}

.contenedorContacto__hijo2 {
  width: 100%;
  text-align: center;
}
.contenedorContacto__hijo2 p {
  margin-top: 10px;
}

.contenedorContacto__hijo2 img {
  width: 300px;
  height: auto;
  margin: 10px;
}

.titulocontacto {
  font-weight: bold;
  font-size: large;
}

.contenedorContacto input, .contenedorContacto textarea {
  background: beige;
  padding: 5px 10px;
  margin: 3px 3px;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
}

/*MEDIA QUERY SOBRENOSOTROS*/
@media screen and (max-width: 680px) {
  .cajas1 img, .cajas2 img {
    float: none;
  }

  .cajas2 img {
    float: none;
  }

  .cajas1, .cajas2 {
    text-align: center;
  }

  .cajas2 {
    text-align: center;
  }

  .contenedorContacto__hijo1 form {
    padding: 10px 0 10px 20%;
  }
}
@media screen and (max-width: 550px) {
  .contenedorContacto__hijo1 form {
    padding: 10px 0 10px 6%;
  }
}
@media only screen and (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
